.sign-in-img{
    background-image: url('../../Images/login-bg.jpg');
    background-repeat: no-repeat;
}

.sign-in-bg{
    background: rgba(0, 0, 0, 0.7);
}
.sign-body-bg{
    padding: 30px;
    background: rgb(205, 240, 245);
    border-radius: 10px;
}

#sign-In .or-text-style::before{
    content: "----------";
}

#sign-In .or-text-style::after{
    content: "----------";
}