.profile-bg-img{
    height: auto;
    width: 100%;
    background-image: url('../../../Images/profile-bg-img.jpg');
    
}

.profile-bg-color{
    background: rgba(197, 154, 154, 0.8);
    color: white;
}


.purchase-img-size{
    height: 70px;
    width: 150px;
}