/* #footer-section{
   
} */

.footer-logo-size{
    height: 40px;
}

.pay-with{
    height: 100%;
    width: 100%;   
}
li Link{
    color: tomLinkto;
}

li Link:hover{
    color: white;
}
.socail-icon{
    font-size: 30px;
}

span Link{
    color: white;
}

/* .custom-shape-divider-top-1619152855 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
} */