.logo-size{
    height: 50px;
    width: auto;
}
li{
 font-size: 18px;
}
.link-style{
    margin-top: 7px;
}

.link-style:hover{
    
    text-align: center;
    background-color: lightskyblue;
    border-radius: 5px;
    
}