

.video-product-detaisl-body{    
    background:rgb(235, 232, 229);
    border-radius: 15px;
}

.site-bar{
    
    border: 1px solid gray;
}

.instractor{
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 1px solid springgreen;
    background: rgb(237, 237, 241);
}

.instractor-Img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.video-iframe{
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}