#student-Review{
    background: rgb(61, 121, 156);
    text-align: center;
    color: white;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
}

#student-Review img{    
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;    
    
}

#student-Review p{
        margin-right: 100px;
        margin-left: 100px;
}

/* .carousel-slid-body{
    text-align: center;
    height: 100%;
    width: 100%;
    background: rgb(255, 0, 0);
} */

/* .carousel-slid-body-2{
    margin-left: 20%;
    margin-top: 15%;
    height: 80%;
    width: 80%;
    background: rgb(126, 250, 10);
} */