#student-Review{
    background: rgb(61, 121, 156);
    text-align: center;
    color: white;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
}

#student-Review img{    
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;    
    
}

#student-Review p{
        margin-right: 100px;
        margin-left: 100px;
}
