#Teacher{

    background: rgb(213, 233, 235);
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}
#Teacher img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#Teacher h6{
    color: rgb(4, 48, 241);
}

.icon-position{
    margin: 0 auto;
}